---
import Navbar from "../../components/landing/Navbar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Footer from "../../components/landing/Footer.astro";
import GoogleButton from "../../components/landing/login/GoogleButton.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.auth.login);

let errorMessage = "";

if (result?.error) {
  errorMessage = result.error.message;
}
---

<BaseLayout title="Iniciar sesión - Lienzo Lima">
  <Navbar />
  <main class="wrapper login-page">
    <section class="login-section">
      <h1>Inicia sesión</h1>
      <form action={actions.auth.login} method="post">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" required />
        <label for="password">Contraseña:</label>
        <input id="password" type="password" name="password" required />
        <button type="submit">Ingresar</button>
      </form>
      <a href="/signup">Registrate</a>
      <p>{errorMessage}</p>
      <p>Accede a tu cuenta usando Google.</p>
      <GoogleButton />
    </section>
  </main>
  <Footer />
</BaseLayout>

<style>
  main {
    padding-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

  .login-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: #f9f9f9b7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    max-width: 400px;
    width: 100%;
  }

  .login-section h1 {
    font-size: 2rem;
  }

  .login-section p {
    font-size: 1.2rem;
  }

  .login-section .google-button {
    display: inline-block;
    margin: 0 auto;
  }
</style>
