---
import TableHead from "../../../global/table/TableHead.astro";
import TableRow from "../../../global/table/TableRow.astro";
import CollaboratorEditButton from "./CollaboratorEditButton.astro";
import CollaboratorDeleteButton from "./CollaboratorDeleteButton.astro";
import type { CollaboratorsTableData } from "../../../../pages/admin/_db/types";
import type { TableLabel } from "../../../global/table/types";

type Props = {
  collaborators: CollaboratorsTableData[];
};

const { collaborators } = Astro.props;

const columns = ["Nombre", "Email", "Rol", "Teléfono", "Acciones"];

const rowData = collaborators.reduce(
  (acc: Record<string, (string | TableLabel | null)[]>, collaborator) => {
    const { id, name, email, role, phone } = collaborator;
    acc[id] = [name, email, role, phone];
    return acc;
  },
  {}
);

const noResults = collaborators.length === 0;
---

<div class="container">
  <table>
    <TableHead columnsNames={columns} />
    <tbody>
      {
        noResults ? (
          <tr>
            <td colspan="5" style="text-align: center;">
              No hay resultados
            </td>
          </tr>
        ) : (
          collaborators.map((collaborator) => (
            <TableRow rowData={rowData[collaborator.id]}>
              <div class="action-button">
                <CollaboratorEditButton {collaborator} />
                <CollaboratorDeleteButton {collaborator} />
              </div>
            </TableRow>
          ))
        )
      }
    </tbody>
  </table>
</div>

<style>
  table {
    --main-color: #2b9398;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }

  td {
    padding: 0.5rem 0;
  }

  .action-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 768px) {
    .container {
      overflow-x: auto;
    }
  }
</style>
