---
import type { CollaboratorsTableData } from "../../../../pages/admin/_db/types";
import EditIcon from "../../../svgs/admin/IndexContent/EditIcon.astro";

type Props = {
  collaborator: CollaboratorsTableData;
};

const { collaborator } = Astro.props;
---

<user-collaborator-button data-collaborator={JSON.stringify(collaborator)}>
  <button>
    <EditIcon color="white" />
    <span>Editar</span>
  </button>
</user-collaborator-button>

<script>
  import type { CollaboratorsTableData } from "../../../../pages/admin/_db/types";
  import { openDialog } from "../../../global/dialog/utils";

  class CollaboratorEditButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      const form = document.getElementById("edit-collaborator-form");

      if (!button) throw "Button not found";
      if (!(form instanceof HTMLFormElement)) throw new Error("Form not found");

      const collaborator: CollaboratorsTableData = JSON.parse(
        this.dataset.collaborator || "{}"
      );

      button.addEventListener("click", async () => {
        form.userId.value = collaborator.id;
        form.username.value = collaborator.name;
        form.email.value = collaborator.email;
        form.phone.value = collaborator.phone;
        form.userRole.value = collaborator.role;

        openDialog("editCollaborator");
      });
    }
  }

  customElements.define("user-collaborator-button", CollaboratorEditButton);
</script>

<style>
  button {
    display: flex;
    align-items: center;
    background-color: #169db5;
    gap: 0.25rem;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
  }

  button :global(svg) {
    width: 1rem;
    height: 1rem;
  }
</style>
