---
import TableHead from "../../../global/table/TableHead.astro";
import TableRow from "../../../global/table/TableRow.astro";
import ColabEditButton from "./CollaboratorEditButton.astro";
import ColabDeleteButton from "./CollaboratorDeleteButton.astro";
import Pagination from "../../../global/Pagination.astro";

const columns = ["ID", "Nombre", "Email", "Rol", "Teléfono", "Acciones"]; // Mock data
const rowData = ["1", "John Doe", "doe@doe.com", "Admin", "982 345 785"]; // Mock data

const tableRows = Array.from({ length: 6 }, () => rowData);
---

<div class="container">
  <table>
    <TableHead columnsNames={columns} />
    <tbody>
      {
        tableRows.map((rowData) => (
          <TableRow rowData={rowData}>
            <div class="action-button">
              <ColabEditButton />
              <ColabDeleteButton />
            </div>
          </TableRow>
        ))
      }
    </tbody>
  </table>
  <Pagination currentPage={1} totalPages={2} />
</div>

<style>
  table {
    --main-color: #2b9398;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }

  .action-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 768px) {
    .container {
      overflow-x: auto;
    }
  }
</style>
