---
type Props = {
  colabsAmount: number;
};

const { colabsAmount } = Astro.props;
---

<div class="container">
  <div class="title">
    <h2>Colaboradores ({colabsAmount})</h2>
    <button id="add-collaborator-btn">Añadir</button>
  </div>
  <div class="search-input">
    <input type="text" placeholder="Buscar por nombre o email" />
    <button>Buscar</button>
  </div>
</div>

<script>
  import { openDialog } from "../../../../components/global/dialog/utils";

  const addCollaboratorBtn = document.getElementById("add-collaborator-btn");

  try {
    if (!addCollaboratorBtn)
      throw new Error("Add collaborator button not found");

    addCollaboratorBtn.addEventListener("click", () => {
      openDialog("addCollaborator");
    });
  } catch (e) {
    console.error("Error: ", e);
  }
</script>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .search-input {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-wrap: nowrap;
  }

  input {
    width: 100%;
    padding-inline: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #2b9398;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
</style>
