---
import type { CollaboratorsTableData } from "../../../../pages/admin/_db/types";
import TrashIcon from "../../../svgs/admin/IndexContent/TrashIcon.astro";

type Props = {
  collaborator: CollaboratorsTableData;
};

const { collaborator } = Astro.props;
---

<collaborator-delete-button data-collaborator={JSON.stringify(collaborator)}>
  <button>
    <TrashIcon color={"white"} />
    <span>Eliminar</span>
  </button>
</collaborator-delete-button>

<script>
  import type { CollaboratorsTableData } from "../../../../pages/admin/_db/types";
  import { openDialog } from "../../../global/dialog/utils";

  class CollaboratorDeleteButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      const form = document.getElementById("delete-collaborator-form");
      const errorContent = document.getElementById("c-delete-error-content");
      const selectedCollab = document.getElementById("selected-collaborator");

      if (!button) throw "Button not found";
      if (!(form instanceof HTMLFormElement)) throw "Form not found";
      if (!selectedCollab) throw "Selected collaborator element not found";
      if (!errorContent) throw "Error content not found";

      button.addEventListener("click", () => {
        const { id, name }: CollaboratorsTableData = JSON.parse(
          this.dataset.collaborator || "{}"
        );

        form.collaboratorId.value = id;
        selectedCollab.innerHTML = name;
        errorContent.innerText = "";

        openDialog("deleteCollaborator");
      });
    }
  }

  customElements.define("collaborator-delete-button", CollaboratorDeleteButton);
</script>

<style>
  button {
    display: flex;
    align-items: center;
    background-color: #c35162;
    gap: 0.25rem;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
  }

  button :global(svg) {
    width: 1rem;
    height: 1rem;
  }
</style>
