---
type Props = {
  collabsAmount: number;
};

const { collabsAmount } = Astro.props;
---

<div class="container">
  <div class="title">
    <h2>Colaboradores ({collabsAmount})</h2>
    <button id="add-collaborator-btn">Añadir</button>
  </div>
  <div class="search-input">
    <input
      type="text"
      id="search-input"
      placeholder="Buscar por nombre o email"
    />
    <button id="search-collaborator-btn">Buscar</button>
  </div>
</div>

<script>
  import { openDialog } from "../../../../components/global/dialog/utils";
  import { updateRoute } from "../../../../utils/filter";

  const addCollaboratorBtn = document.getElementById("add-collaborator-btn");
  const searchCollaboratorBtn = document.getElementById(
    "search-collaborator-btn"
  );
  const searchInput = document.getElementById("search-input");

  try {
    if (!addCollaboratorBtn)
      throw new Error("Add collaborator button not found");
    if (!(searchCollaboratorBtn instanceof HTMLButtonElement))
      throw new Error("Search collaborator button not found");
    if (!(searchInput instanceof HTMLInputElement))
      throw new Error("Search input not found");

    addCollaboratorBtn.addEventListener("click", () => {
      openDialog("addCollaborator");
    });

    const handleSearch = () => {
      const url = new URL(window.location.href);
      const newUrl = updateRoute(url, {
        search: searchInput.value.trim(),
        page: "1",
      });
      window.location.href = newUrl;
    };

    searchCollaboratorBtn.addEventListener("click", handleSearch);

    searchInput.addEventListener("keydown", (event) => {
      if (event.key === "Enter") {
        handleSearch();
      }
    });
  } catch (e) {
    console.error("Error: ", e);
  }
</script>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .search-input {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-wrap: nowrap;
  }

  input {
    width: 100%;
    padding-inline: 1rem;
    min-width: none;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #2b9398;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: start;
    }

    .title {
      flex-direction: column;
      align-items: start;
    }
  }
</style>
