---
import FooterWaveSeparator from "../svgs/FooterWaveSeparator.astro";
import LogoWhite from "../svgs/LogoWhite.astro";
import InstagramLogo from "../svgs/InstagramLogo.astro";
import TikTokLogo from "../svgs/TikTokLogo.astro";
import { instagramDirectMessageUrl } from "../../utils/global";
---

<div class="svg-footer-separator">
  <FooterWaveSeparator />
</div>
<footer>
  <div class="columns wrapper">
    <div class="logo-and-info">
      <LogoWhite />
    </div>
    <div class="links">
      <h2 class="title">Nosotros</h2>
      <ul>
        <!--<li><a href="#sobre-nosotros">Sobre nosotros</a></li>-->
        <li>
          <a href="https://maps.app.goo.gl/Lx66coYMtVxavnRz7" target="_blank">
            Ubícanos
          </a>
        </li>
        <!-- <li><a href="#">Galería</a></li> -->
      </ul>
    </div>
    <div class="links wraper">
      <h2 class="title">Servicios</h2>
      <ul>
        <li>
          <a href={instagramDirectMessageUrl}> Promociones </a>
        </li>
        <li>
          <a href={instagramDirectMessageUrl}> Reservas </a>
        </li>
        <li>
          <a href="/politica-de-privacidad">Política de privacidad</a>
        </li>
        <li>
          <a href="/libro-de-reclamos">Libro de reclamos</a>
        </li>
      </ul>
    </div>
    <div class="links">
      <h2 class="title">Contáctanos</h2>
      <span> Av. Ernesto Diez Canseco 490, Miraflores 15074, Lima </span>
      <ul class="schedule">
        <li><span>Lunes - Viernes: 10:00 - 21:30</span></li>
        <li><span>Sábados: 10:00 - 20:00</span></li>
      </ul>
      <div class="social">
        <a
          href="https://www.instagram.com/lienzo.lima/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <InstagramLogo />
        </a>
        <a
          href="https://www.tiktok.com/@lienzo.miraflores?lang=es"
          target="_blank"
          rel="noopener noreferrer"
        >
          <TikTokLogo />
        </a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <span>© 2021 Lienzo Lima. Todos los derechos reservados.</span>
  </div>
</footer>

<style>
  .svg-footer-separator {
    margin-top: 1rem;
    display: flex;
  }

  .svg-footer-separator :global(svg) {
    width: 100%;
    height: auto;
    position: relative;
    top: 2px;
  }

  footer {
    background-color: var(--tertiary-400);
  }

  .columns {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-top: var(--section-spacing);
    flex-wrap: wrap;
  }

  h2 {
    color: var(--background);
    font-size: 1.5rem;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  span {
    color: var(--background);
  }

  li a {
    color: var(--background);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .social {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }

  .bottom {
    background-color: var(--tertiary-500);
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .columns {
      flex-direction: column;
      gap: 3rem;
      align-items: center;
    }

    .links {
      align-items: center;
    }

    span {
      text-align: center;
    }

    ul {
      align-items: center;
    }

    .social {
      justify-content: center;
      margin: 0;
      margin-top: 2rem;
    }
  }
</style>
