---
import LeftSpikes from "../svgs/LeftSpikes.astro";
import RightSpikes from "../svgs/RightSpikes.astro";
import BoxShape3 from "../svgs/BoxShape3.astro";
import IconUbication from "../svgs/IconUbication.astro";
import IconClock from "../svgs/IconClock.astro";
---

<section class="container wrapper" id="ubicanos">
  <div class="title-section">
    <LeftSpikes />
    <h1 class="title-ubication">Ubícanos</h1>
    <RightSpikes />
  </div>
  <p class="title-description">
    Descubre dónde estamos ubicados y ven a disfrutar de nuestros servicios en
    un ambiente acogedor.<br />¡Es fácil llegar y difícil de olvidar!
  </p>
  <div class="ubication-content">
    <div class="ubication-container">
      <div class="content-container" data-aos="fade-up" data-aos-duration="800">
        <BoxShape3 />
        <div class="content">
          <div class="box">
            <IconUbication />
            <h4>Ubicación</h4>
            <p>Av. Ernesto Diez Canseco 490, Miraflores 15074, Lima</p>
          </div>
          <div class="box">
            <IconClock />
            <h4>Horarios de atención</h4>
            <p>Lunes - Viernes: 10:00 - 21:30</p>
            <p>Sábados: 10:00 - 20:00</p>
          </div>
        </div>
      </div>
      <div class="image-container" data-aos="fade-up" data-aos-duration="1000">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.2126949447146!2d-77.0258340442516!3d-12.122360555320208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9b8db513dd9%3A0x8d4c5f147ff21254!2sU%C3%B1as%20acrilicas%2C%20rubber%20y%20gel%20Miraflores%20Lienzo!5e0!3m2!1ses-419!2spe!4v1728662149898!5m2!1ses-419!2spe"
          width="582"
          height="610"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  #ubicanos {
    scroll-margin-top: 60px;
  }

  .container {
    padding-block: 6rem;
  }

  .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .title-ubication {
    font-family: var(--font-heading);
    color: var(--font-color-400);
    text-align: center;
    margin: 0 1rem;
  }

  .title-description {
    font-family: var(--font-body);
    color: black;
    font-weight: 300;
    text-align: center;
    font-size: var(--body);
    margin-bottom: 2rem;
  }

  .ubication-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .content-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.5rem;
    flex-direction: column;
  }

  .content-container :global(svg) {
    width: 90%;
    height: auto;
  }

  .content {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    width: 80%;
    margin: 0;
    padding: 0;
  }

  .box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    color: var(--neutral-400);
  }

  .box h4 {
    margin: 1rem 0;
  }

  .box p {
    text-align: center;
  }

  .box :global(svg) {
    width: 18%;
    height: auto;
  }

  .image-container {
    width: 50%;
    height: 500px;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (min-width: 769px) and (max-width: 880px) {
    .content {
      gap: 0rem;
    }

    .box h4 {
      margin: 0.3rem 0;
    }
  }

  @media (max-width: 768px) {
    .ubication-container {
      flex-direction: column;
      align-items: center;
    }

    .content-container,
    .image-container {
      width: 100%;
      margin-bottom: 2rem;
    }

    .image-container {
      height: 400px;
    }
  }

  @media (max-width: 480px) {
    .image-container {
      height: 300px;
    }

    .content {
      gap: 0rem;
    }

    .box h4 {
      margin: 0.5rem 0;
    }

    .box :global(svg) {
      width: 15%;
      height: auto;
    }
  }

  @media (max-width: 355px) {
    .image-container {
      height: 250px;
    }

    .box p {
      font-size: 0.8rem;
    }
  }
</style>
