---
import BoxShape1 from "../svgs/BoxShape1.astro";
import BoxShape2 from "../svgs/BoxShape2.astro";
import BoxNumber from "../svgs/BoxNumber.astro";
import LeftSpikes from "../svgs/LeftSpikes.astro";
import RightSpikes from "../svgs/RightSpikes.astro";
import NailPolish from "../svgs/NailPolish.astro";
---

<section class="container wrapper">
  <div class="title-section">
    <LeftSpikes />
    <h1 class="title-diference">¿Por qué elegirnos?</h1>
    <RightSpikes />
  </div>

  <p class="title-description">
    En LIENZO Estudio, nos enfocamos en ofrecerte una experiencia única y de
    calidad. Nos diferenciamos por nuestra dedicación a cada detalle y el uso de
    productos de primer nivel.<br />Descubre por qué somos la mejor opción para
    el cuidado de tus uñas:
  </p>

  <div class="wrapper-boxes">
    <div class="container-boxes">
      <div class="box box1">
        <BoxShape1 />
        <div class="content">
          <div class="number">
            <BoxNumber />
            <div class="number-text">
              <p>1</p>
            </div>
          </div>
          <div class="text-content">
            <h3>Horno esterilizador</h3>
            <p>Esterilizamos nuestros materiales mediante horno</p>
          </div>
        </div>
      </div>
      <div class="box box2">
        <BoxShape1 />
        <div class="content">
          <div class="number">
            <BoxNumber />
            <div class="number-text">
              <p>2</p>
            </div>
          </div>
          <div class="text-content">
            <h3>Garantía</h3>
            <p>Ofrecemos garantía por 5 días</p>
          </div>
        </div>
      </div>
      <div class="box central">
        <BoxShape2 />
        <div class="content cont-central">
          <div class="booking-content">
            <h3>¡Reserva ahora!</h3>
            <p>
              Reserva tu cita con LIENZO Estudio y disfruta de una experiencia
              única y estilizada.
            </p>
            <a
              href="https://www.instagram.com/direct/t/17847974024874194"
              class="booking-btn btn"
            >
              Reservar una cita
            </a>
            <div class="booking-image">
              <NailPolish />
            </div>
          </div>
        </div>
      </div>
      <div class="box box3">
        <BoxShape1 />
        <div class="content">
          <div class="number">
            <BoxNumber />
            <div class="number-text">
              <p>3</p>
            </div>
          </div>
          <div class="text-content">
            <h3>Atención personalizada</h3>
            <p>Te asesoramos con nuestros profesionales</p>
          </div>
        </div>
      </div>
      <div class="box box4">
        <BoxShape1 />
        <div class="content">
          <div class="number">
            <BoxNumber />
            <div class="number-text">
              <p>4</p>
            </div>
          </div>
          <div class="text-content">
            <h3>Diseños exclusivos</h3>
            <p>Realizamos diseños de acuerdo a tu gusto personal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    margin-top: var(--section-spacing);
    padding-block: 0 6rem;
  }

  .wrapper-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .title-diference {
    font-family: var(--font-heading);
    color: var(--font-color-400);
    text-align: center;
    margin: 0 1rem;
  }

  .title-description {
    font-family: var(--font-body);
    color: black;
    font-weight: 300;
    text-align: center;
    font-size: var(--body);
    margin-bottom: 2rem;
  }

  .container-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    width: 80vw;
    margin: 0;
    padding: 0;
  }

  .box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .content {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
  }

  .cont-central {
    padding: 0;
  }

  .text-content {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    row-gap: 1.5rem;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .text-content h3 {
    font-family: var(--font-body);
    font-size: 1.15rem;
    color: var(--secondary-400);
  }

  .text-content p {
    font-size: 1rem;
  }

  .number {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.1rem;
  }

  .number-text {
    position: absolute;
    text-align: center;
  }

  .number-text p {
    font-size: 1.5rem;
    color: var(--font-color-400);
  }

  .central {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .booking-image :global(svg) {
    max-width: 150px;
    width: 100%;
    height: auto;
  }

  .booking-content {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .booking-content h3 {
    font-size: 1.8rem;
    font-family: var(--font-heading);
    color: var(--secondary-400);
    grid-row: 1;
  }

  .booking-content p {
    font-size: 1rem;
    color: var(--neutral-400);
    grid-row: 2;
  }

  .booking-btn {
    background-color: var(--secondary-400);
    color: var(--primary-400);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    grid-row: 3;
    transition: background-color 0.3s ease;
  }

  .booking-btn:hover {
    background-color: var(--secondary-400);
  }

  .booking-image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 4;
  }

  @media (min-width: 1300px) {
    .container-boxes {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }

  @media (max-width: 768px) {
    .container-boxes {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
    }

    .central {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    .box {
      padding: 0.3rem;
    }

    .content {
      width: 95%;
      padding: 1rem;
    }

    .text-content {
      display: flex;
      height: 100%;
    }

    .text-content h3 {
      font-size: 1.2rem;
    }

    .text-content p {
      font-size: 0.8rem;
    }

    .number {
      margin-bottom: 0;
    }

    .number :global(svg) {
      width: 35%;
    }

    .number-text p {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 481px) and (max-width: 560px) {
    .box {
      height: auto;
    }

    .content {
      padding: 1rem;
      box-sizing: border-box;
    }

    .text-content {
      height: 100%;
      overflow: hidden;
    }

    .text-content h3 {
      font-size: 1rem;
    }

    .number {
      margin-bottom: 0.2rem;
    }

    .number :global(svg) {
      width: 22%;
    }

    .number-text p {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .container-boxes {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .box {
      order: 0;
    }

    .central {
      order: 1;
      grid-column: 1 / 2;
      grid-row: auto;
    }

    .content {
      padding: 2rem;
    }

    .text-content {
      height: 50%;
    }

    .text-content h3 {
      font-size: 1.5rem;
    }

    .text-content p {
      font-size: 1rem;
    }

    .number :global(svg) {
      width: 40%;
    }

    .number-text p {
      font-size: 2rem;
    }
  }
</style>
