---
import BookingsDateFilters from "./BookingsDateFilters.svelte";
import BookingsStatusFilter from "./BookingsStatusFilter.astro";

type Props = {
  dateParam: string;
  searchParam: string;
};

const { dateParam } = Astro.props;
const { searchParam } = Astro.props;

const date = dateParam ? new Date(dateParam) : null;
const status = searchParam || null;
---

<section>
  <h1>Reservas</h1>
  <BookingsStatusFilter {status} />
  <BookingsDateFilters {date} client:load />
</section>

<style>
  section {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
</style>
