---
import TrashIcon from "../../svgs/admin/IndexContent/TrashIcon.astro";
---

<booking-delete-button>
  <button>
    <TrashIcon color={"white"} />
    <span>Eliminar</span>
  </button>
</booking-delete-button>

<script>
  import { openDialog } from "../../global/dialog/utils";

  class BookingDeleteButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      if (!button) throw "Button not found";

      button.addEventListener("click", () => {
        openDialog("deleteBooking");
      });
    }
  }

  customElements.define("booking-delete-button", BookingDeleteButton);
</script>

<style>
  button {
    display: flex;
    align-items: center;
    background-color: #c35162;
    gap: 0.25rem;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
  }

  button :global(svg) {
    width: 1rem;
    height: 1rem;
  }
</style>
