---
import EditIcon from "../../svgs/admin/IndexContent/EditIcon.astro";
---

<booking-edit-button>
  <button>
    <EditIcon color="white" />
    <span>Editar</span>
  </button>
</booking-edit-button>

<script>
  import { openDialog } from "../../global/dialog/utils";

  class BookingEditButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      if (!button) throw "Button not found";

      button.addEventListener("click", () => {
        openDialog("editBooking");
      });
    }
  }

  customElements.define("booking-edit-button", BookingEditButton);
</script>

<style>
  button {
    display: flex;
    align-items: center;
    background-color: #169db5;
    gap: 0.25rem;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
  }

  button :global(svg) {
    width: 1rem;
    height: 1rem;
  }
</style>
