---
import type { Booking } from "../../../pages/admin/_db/types";
import BookingCard from "./BookingCard.astro";

type Props = {
  bookings: Booking[];
};

const { bookings } = Astro.props;
---

{bookings.length === 0 && <p>No hay reservas para mostrar</p>}
<div class="cards-list">
  {bookings.map((booking) => <BookingCard booking={booking} />)}
</div>

<style>
  .cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
  }
</style>
