---
import LeftSpikes from "../../svgs/LeftSpikes.astro";
import RightSpikes from "../../svgs/RightSpikes.astro";
import Blob4 from "../../svgs/Blob4.astro";
---

<section class="container wrapper" id="servicios">
  <div class="title-section" data-aos="fade-up" data-aos-duration="500">
    <LeftSpikes />
    <h1 class="title-services">Servicios</h1>
    <RightSpikes />
  </div>
  <div class="services-container">
    <div class="services-card" data-aos="fade-up" data-aos-duration="500">
      <Blob4 imgSrc="/imgs/nails/gel.jpeg" />
      <h3>Esmaltado gel</h3>
      <p>Esmaltado en la uña natural, secado en lámpara.</p>
      <p><strong>Duración aproximada:</strong> 1h</p>
    </div>
    <div class="services-card" data-aos="fade-up" data-aos-duration="700">
      <Blob4 imgSrc="/imgs/nails/rubber.jpeg" />
      <h3>Esmaltado rubber</h3>
      <p>
        Gel de alta densidad que aporta dureza a la uña, evita que se rompa.
      </p>
      <p><strong>Duración aproximada:</strong> 1h 40min</p>
    </div>
    <div
      class="services-card softgel-card"
      data-aos="fade-up"
      data-aos-duration="500"
    >
      <Blob4 imgSrc="/imgs/nails/softgel.jpeg" />
      <h3>Sistema de extensión softgel</h3>
      <p>Proporciona largo a la uña, a base de tips adheridos con pressgel.</p>
      <p><strong>Duración aproximada:</strong> 2h 20min</p>
    </div>
    <div
      class="services-card softgel-card"
      data-aos="fade-up"
      data-aos-duration="700"
    >
      <Blob4 imgSrc="/imgs/nails/acrilica.jpeg" />
      <h3>Sistema de extensión acrílicos</h3>
      <p>Proporciona extensión para las uñas naturales. Están hechas de polvo acrílico que se seca y endurece con rapidez.</p>
      <p><strong>Duración aproximada:</strong> 2h 30min</p>
    </div>
  </div>
</section>

<style>
  #servicios {
    scroll-margin-top: 80px;
  }

  .container {
    display: flex;
    padding-block: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .container h1 {
    color: var(--font-color-400);
  }

  .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .title-services {
    font-family: var(--font-heading);
    color: var(--font-color-400);
    text-align: center;
    margin: 0 1rem;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 90%;
    margin: 2rem 0 3rem 0;
  }

  .services-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .services-card :global(svg) {
    width: 70%;
  }

  .services-card h3 {
    font-weight: 500;
    font-size: var(--large);
  }

  .box {
    width: 100%;
    height: 15rem;
    background-color: var(--font-color-400);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }

  .gel {
    background-image: url("/imgs/nails/gelnails.jpg");
  }

  .rubber {
    background-image: url("/imgs/nails/rubbernails.webp");
  }

  .softgel {
    background-image: url("/imgs/nails/softgelnails.webp");
  }

  @media (max-width: 768px) {
    .services-container {
      grid-template-columns: 1fr;
    }

    .services-card {
      grid-column: auto;
      margin-bottom: 1.5rem;
    }
  }

  @media (max-width: 360px) {
    .title-section :global(svg) {
      display: none;
    }
  }
</style>
