---
import OpenMenuButton from "./OpenMenuButton.astro";

type Props = {
  avatarURL: string | null;
  username: string;
  role: string;
};

const { avatarURL, username, role } = Astro.props;
const isAdmin = role === "admin";
---

<header class="wrapper">
  <OpenMenuButton />
  <div class="dashboard-header">
    <div class="user-dropdown">
      <div class="user">
        <img
          src={avatarURL ?? "/imgs/default-pfp.png"}
          alt="Foto de perfil"
          class="user-photo"
        />
        <div class="info-user">
          <span class="user-name">{username}</span>
          <span class="user-role">{role}</span>
        </div>
      </div>
      <div class="dropdown-content">
        {isAdmin && <a href="/admin">Panel de administrador</a>}
        <a href="/logout">Cerrar sesión</a>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: var(--scroll-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-header {
    display: flex;
    justify-content: flex-end;
  }

  .user {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .user-dropdown {
    position: relative;
    display: inline-block;
  }

  .info-user {
    display: flex;
    flex-direction: column;
  }

  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  .user-name {
    font-size: 1rem;
  }

  .user-role {
    font-size: 0.8rem;
    color: #484848;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .user-dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
</style>
