---
import IconUser from "../svgs/IconUser.astro";
import Logo from "../svgs/Logo.astro";
import IconBooking from "../svgs/IconBooking.astro";
// import IconServices from "../svgs/IconServices.astro";
// import IconPromo from "../svgs/IconPromo.astro";
// import IconData from "../svgs/IconData.astro";
// import IconComplaint from "../svgs/IconComplaint.astro";
import IconHome from "../svgs/IconHome.astro";

const links = [
  {
    label: "Inicio",
    icon: IconHome,
    href: "/admin/",
    iconColor: "#e3b78e",
  },
  {
    label: "Usuarios",
    icon: IconUser,
    href: "/admin/manage/users",
    iconColor: "#38abb1",
  },
  {
    label: "Colaboradores",
    icon: IconUser,
    href: "/admin/manage/collaborators",
    iconColor: "#8db15a",
  },
  {
    label: "Añadir Reserva",
    icon: IconBooking,
    href: "/admin/add-booking", //Change paths
    iconColor: "#e35a84",
  },
  // {
  //   label: "Servicios",
  //   icon: IconServices,
  //   href: "/admin/manage/users", //Change paths
  //   iconColor: "#e35a84",
  // },
  {
    label: "Reservas",
    icon: IconBooking,
    href: "/admin/manage/users", //Change paths
    iconColor: "#ff6f2a",
  },
  // {
  //   label: "Visualización de datos",
  //   icon: IconData,
  //   href: "/admin/manage/users", //Change paths
  //   iconColor: "#8db15a",
  // },
  // {
  //   label: "Reclamos",
  //   icon: IconComplaint,
  //   href: "/admin/manage/users", //Change paths
  //   iconColor: "#e4b68d",
  // },
];

const url = Astro.url;

const activeLink = links.find((link) => url.pathname.includes(link.href));
---

<aside>
  <header>
    <a href="/">
      <Logo color="#000" />
    </a>
  </header>
  <nav>
    <ul>
      {
        links.map((link) => (
          <li
            class:list={[{ active: activeLink === link }]}
            style={`--icon-color: ${link.iconColor};`}
          >
            <a class="sidebar-link" href={link.href}>
              <link.icon color="var(--icon-color)" />
              <span>{link.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-right: var(--scroll-border);
    gap: 1.5rem;
  }

  ul :global(svg) {
    width: 40px;
    height: 40px;
  }

  header {
    padding: 1.5rem;
  }

  hr {
    border: 0;
    border-top: 1px solid var(--primary-600);
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    gap: 2rem;
  }

  li {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar-link {
    display: flex;
    flex-direction: column;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--primary-100);
    text-decoration: none;
    color: var(--icon-color);
  }

  span {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .active {
    background-color: var(--primary-300);
    border-radius: 0.5rem;
  }
</style>
