---
import { ConsoleLogWriter } from "drizzle-orm";
import { ipBucket } from "../utils/rate-limit";
import { ulid } from "ulid";

let tooManyRequests = false;

// Example check and consume usage:
const clientIP = "192.168.1.1";
if (ipBucket.check(clientIP, 1)) {
  ipBucket.consume(clientIP, 1);
} else {
  console.log(`[LOG]: Too many requests from ${clientIP}`);
  tooManyRequests = true;
}

const newDate = new Date();
console.log(newDate);

console.log(ulid());

/*const newDate = new Date("2024-11-08T04:59:06.944Z");
console.log(newDate.getHours());
console.log(newDate.getMinutes());
const aDate = new Date();

aDate.setHours(23, 59);
console.log("aDate: ", aDate.getHours());
console.log("aDate: ", aDate.getMinutes());
console.log("aDate: ", aDate.toISOString());*/
---

<h1>HOLA</h1>
{JSON.stringify(newDate)}
{tooManyRequests && <p>Too many requests</p>}
