---
import { ipBucket } from "../utils/rate-limit";

let tooManyRequests = false;

// Example check and consume usage:
const clientIP = "192.168.1.1";
if (ipBucket.check(clientIP, 1)) {
  ipBucket.consume(clientIP, 1);
} else {
  console.log(`[LOG]: Too many requests from ${clientIP}`);
  tooManyRequests = true;
}

const newDate = new Date("2024-11-06 19:59:23");
---

<h1>HOLA</h1>
{JSON.stringify(newDate)}
{tooManyRequests && <p>Too many requests</p>}
