---
import { getPaginatedUsers } from "./admin/_db/users";

const usersDataPaginated = await getPaginatedUsers({
  page: 1,
  pageSize: 10,
  nameOrEmail: "gaby",
});
---

<h1>Sample:</h1>
<pre>{JSON.stringify(usersDataPaginated)}</pre>
