---
import "aos/dist/aos.css";
import Navbar from "../components/landing/Navbar.astro";
import Hero from "../components/landing/hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WhyUs from "../components/landing/WhyUs.astro";
import PricingMenu from "../components/landing/pricingMenu/PricingMenu.astro";
import Footer from "../components/landing/Footer.astro";
import Ubication from "../components/landing/Ubication.astro";
import Services from "../components/landing/servicesMenu/Services.astro";
---

<BaseLayout title="Lienzo Lima">
  <Navbar />
  <main>
    <Hero />
    <WhyUs />
    <Services />
    <PricingMenu />
    <Ubication />
  </main>
  <Footer />
</BaseLayout>

<script>
  import "aos/dist/aos.js";
  import AOS from "aos";

  document.addEventListener("DOMContentLoaded", () => {
    AOS.init({
      once: true,
    });
  });
</script>
