---
import Navbar from "../components/landing/Navbar.astro";
import Hero from "../components/landing/hero/Hero.astro";
import AboutUs from "../components/landing/AboutUs.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import WhyUs from "../components/landing/WhyUs.astro";
import PricingMenu from "../components/landing/pricingMenu/PricingMenu.astro";
import Footer from "../components/landing/Footer.astro";
import Ubication from "../components/landing/Ubication.astro";
import Services from "../components/landing/Services.astro";
---

<BaseLayout title="Lienzo Lima">
  <Navbar />
  <main>
    <Hero />
    <AboutUs />
    <WhyUs />
    <Services />
    <PricingMenu />
    <Ubication />
  </main>
  <Footer />
</BaseLayout>
