---
import Navbar from "../components/landing/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/landing/Footer.astro";
---

<BaseLayout title="Lienzo Lima">
  <Navbar />
  <main>
    <h3 class="wrapper">En progreso</h3>
  </main>
  <Footer />
</BaseLayout>

<style>
  main {
    padding-block: 3rem;
  }
</style>
