---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lienzo Lima">
  <main class="wrapper">
    <h1>Test</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a,
      maxime enim harum laudantium unde, aliquid odit in quae ea sit, asperiores
      veritatis illum? Dolore quae cumque sapiente quaerat sint.
    </p>
  </main>
</BaseLayout>
