---
import Navbar from "../components/landing/Navbar.astro";
import Hero from "../components/landing/Hero.astro";
import AboutUs from "../components/landing/AboutUs.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroBackground from "../components/svgs/HeroBackground.astro";
import WhyUs from "../components/landing/WhyUs.astro";
import MenuBackground from "../components/svgs/MenuBackground.astro";
import Menu from "../components/landing/Menu.astro";
---

<BaseLayout title="Lienzo Lima">
  <main>
    <div class="top-container">
      <div class="svg-background">
        <HeroBackground />
      </div>
      <Navbar />
      <Hero />
    </div>
    <AboutUs />
  </main>
</BaseLayout>

<style>
  .top-container {
    position: relative;
  }

  .svg-background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .svg-background :global(svg) {
    width: 105%;
    height: 100%;
  }
</style>

<style>
  .menu-container {
    position: relative;
  }

  .menu-bg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .menu-bg :global(svg) {
    width: 100vw;
    height: auto;
  }

</style>
