---
import Navbar from "../components/landing/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/landing/Footer.astro";
import GoogleButton from "../components/landing/login/GoogleButton.astro";
import { actions } from "astro:actions";
import { isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.auth.signup);

let errorMessage = "";

// Check if the result is not an error and redirect to the home page
if (result && !result.error) {
  return Astro.redirect("/verify-your-email/");
}

// Check if the result is an error
if (result?.error && !isInputError(result?.error)) {
  errorMessage = result.error.message;
}

// Check if the result is an input error
if (isInputError(result?.error)) {
  for (const issue of result.error.issues) {
    errorMessage += `${issue.message} `;
  }
}
---

<BaseLayout title="Iniciar sesión - Lienzo Lima">
  <Navbar />
  <main class="wrapper login-page">
    <section class="login-section">
      <h1>Regístrate</h1>
      <p class="info">Introduce tus datos para registrarte</p>
      <form action={actions.auth.signup} method="post">
        <div class="input-group">
          <input id="username" type="text" name="username" required />
          <label for="username">Nombre de usuario</label>
        </div>
        <div class="input-group">
          <input id="email" type="email" name="email" required />
          <label for="email">Email</label>
        </div>
        <div class="input-group">
          <input id="password" type="password" name="password" required />
          <label for="password">Contraseña</label>
        </div>
        <div class="input-group">
          <input
            id="passwordConfirm"
            type="password"
            name="passwordConfirm"
            required
          />
          <label for="passwordConfirm">Confirmar contraseña</label>
        </div>
        <button type="submit">Registrarse</button>
      </form>
      <p class="error">{errorMessage}</p>
      <p>O continúa usando Google</p>
      <GoogleButton />
    </section>
  </main>
  <Footer />
</BaseLayout>

<style>
  main {
    padding-block: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form{
    gap: 10px;
  }

  .login-section {
    text-align: center;
    background-color: #f9f9f9b7;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    max-width: 400px;
    width: 100%;
  }

  .login-section h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .login-section p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .login-section .info {
    margin-bottom: 1rem;
  }

  .input-group {
    position: relative;
    margin: 0.5rem 0;
  }

  .input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    padding: 0 10px;
    pointer-events: none;
    transition: 0.3s;
  }

  .input-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid var(--secondary-400);
    border-radius: 10px;
    background: transparent;
    outline: none;
  }

  .input-group input:focus ~ label,
  .input-group input:valid ~ label,
  .input-group input.has-content ~ label {
    top: 0;
    font-size: 0.8rem;
    background: #f9f9f9b7;
  }

  button {
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0.5rem 0;
    transition: .3s;
  }

  button:hover {
    background-color: var(--primary-400);
    color: var(--secondary-400);
  }

  .error {
    font-weight: 600;
  }

  .login-section .google-button {
    display: inline-block;
    margin: 0 auto;
  }
</style>

<script>
  document.querySelectorAll('.input-group input').forEach((input) => {
    input.addEventListener('input', () => {
      const inputElement = input as HTMLInputElement;
      if (inputElement.value) {
        input.classList.add('has-content');
      } else {
        input.classList.remove('has-content');
      }
    });
  });
</script>

