---
import EditIcon from "../../../svgs/admin/IndexContent/EditIcon.astro";
import type { UsersTableData } from "../../../../pages/admin/_db/types";

type Props = {
  user: UsersTableData;
};

const { user } = Astro.props;
---

<user-edit-button data-user={JSON.stringify(user)}>
  <button>
    <EditIcon color="white" />
    <span>Editar</span>
  </button>
</user-edit-button>

<script>
  import type { UsersTableData } from "../../../../pages/admin/_db/types";
  import { openDialog } from "../../../global/dialog/utils";

  class UserEditButton extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      const form = document.getElementById("edit-user-form");

      if (!button) throw "Button not found";
      if (!(form instanceof HTMLFormElement)) throw new Error("Form not found");

      const user: UsersTableData = JSON.parse(this.dataset.user || "{}");

      button.addEventListener("click", async () => {
        form.userId.value = user.id;
        form.username.value = user.name;
        form.email.value = user.email;
        form.phone.value = user.phone;

        openDialog("editUser");
      });
    }
  }

  customElements.define("user-edit-button", UserEditButton);
</script>

<style>
  button {
    display: flex;
    align-items: center;
    background-color: #169db5;
    gap: 0.25rem;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
  }

  button :global(svg) {
    width: 1rem;
    height: 1rem;
  }
</style>
