<section class="container">
  <div class="form-container">
    <h2>Detalles de reclamo</h2>
    <form id="view-complaint-form">
      <input type="hidden" id="complaint-id" name="complaintId" />

      <label for="service"> Servicio: </label>
      <input type="text" id="service" name="service" placeholder="" disabled />

      <label for="service-description"> Descripci贸n del servicio: </label>
      <textarea id="service-description" name="serviceDescription" disabled
      ></textarea>

      <label for="complaint-option"> Detalle de reclamaci贸n: </label>
      <input
        type="text"
        id="complaint-option"
        name="complaintOption"
        value=""
        disabled
      />

      <label for="complaint-description"> Descripci贸n del reclamo: </label>
      <textarea id="complaintDescription" disabled></textarea>

      <label for="adicional-info"> Informaci贸n adicional: </label>
      <textarea id="adicionalInfo" disabled></textarea>
    </form>
  </div>
</section>

<style>
  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  input {
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  textarea {
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
    height: 70px;
    margin-bottom: 0.5rem;
    resize: none;
  }

  #view-complaint-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }
</style>
