---
import LatestBookings from "./LatestBookings.astro";
import TopSection from "./TopSection.astro";

type Props = {
  userInfo: {
    avatarURL: string | null;
    email: string;
    username: string;
    role: string;
  };
};

const { userInfo } = Astro.props;

let cargo = "No definido";

if (userInfo.role === "admin") cargo = "Administrador";
if (userInfo.role === "manicurist") cargo = "Manicurista";
---

<section>
  <TopSection username={userInfo.username} email={userInfo.email} {cargo} />
  <div class="grid">
    <LatestBookings />
  </div>
</section>
