---
import CheckIcon from "../../svgs/admin/IndexContent/CheckIcon.astro";
import { actions } from "astro:actions";
---

<form action={actions.db.tasks.add} method="post">
  <input
    type="text"
    placeholder="Insertar nuevo recordatorio"
    name="description"
  />
  <button type="submit">
    <CheckIcon />
  </button>
</form>

<style>
  form {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: row;
  }

  input {
    width: 100%;
    padding-inline: 1rem;
  }

  button {
    position: relative;
    background-color: #e6e6e6;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  button :global(svg) {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 1rem;
    height: 1rem;
  }
</style>
