---
import type { Booking } from "../../../pages/admin/_db/types";
import CalendarIcon from "../../svgs/admin/IndexContent/CalendarIcon.astro";
import UserIcon from "../../svgs/admin/IndexContent/UserIcon.astro";
import MoneyIcon from "../../svgs/admin/IndexContent/MoneyIcon.astro";
import NextBookingItem from "./NextBookingItem.astro";

type Props = {
  bookings: Booking[];
};

const { bookings } = Astro.props;
---

<section>
  <header>
    <CalendarIcon />
    <span>Próximas Reservas hoy</span>
  </header>
  <div class="booking-list">
    {
      bookings.length === 0 ? (
        <p>No hay próximas citas disponibles</p>
      ) : (
        bookings.map((bookingItem) => {
          return <NextBookingItem booking={bookingItem} />;
        })
      )
    }
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-light-gray);
    border-radius: 0.5rem;
  }

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #e15a85;
  }

  header :global(svg) {
    width: 2rem;
    height: 2rem;
    fill: #e15a85;
  }

  header span {
    font-size: 2rem;
    line-height: 1;
  }

  .booking-list {
    display: flex;
    flex-direction: column;
  }
</style>
