---
import PinIcon from "../../svgs/admin/IndexContent/PinIcon.astro";
import CheckIcon from "../../svgs/admin/IndexContent/CheckIcon.astro";
import TrashIcon from "../../svgs/admin/IndexContent/TrashIcon.astro";
import NewTaskForm from "./NewTaskForm.astro";

// This should be taken from the database
const tasks = [
  {
    date: "20/8",
    creationTime: "15:40",
    description:
      "Lorem ipsum dolor sit amet, oloribus beatae aperiam quidem aliquam architecto! Porro",
  },
  {
    date: "20/8",
    creationTime: "15:40",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo doloribus ",
  },
  {
    date: "20/8",
    creationTime: "15:40",
    description: "Lorem ipsum dolor sit amet, consecteturh",
  },
];
---

<section>
  <header>
    <PinIcon />
    <span>Recordatorios</span>
  </header>
  <NewTaskForm />
  <div class="list">
    {
      tasks.map((taskItem) => {
        return (
          <div class="item">
            <div class="item-inner">
              <div class="item-top">
                <span>
                  <strong>{taskItem.date}</strong>
                </span>
                <div class="item-date">
                  <span>{taskItem.creationTime}</span>
                </div>
              </div>
              <div class="item-bottom">
                <p>{taskItem.description}</p>
              </div>
            </div>
            <div class="buttons">
              <button class="check-button">
                <CheckIcon />
              </button>
              <button class="trash-button">
                <TrashIcon />
              </button>
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-light-gray);
    border-radius: 0.5rem;
  }

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #3cacb2;
  }

  header :global(svg) {
    width: 2rem;
    height: 2rem;
    fill: #3cacb2;
  }

  header span {
    font-size: 2rem;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #aeaeae;
  }

  .item-inner {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .item-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .item-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .item-user :global(svg) {
    width: 1rem;
    height: 1rem;
    fill: #7b7b7b;
  }

  .item-bottom {
    display: flex;
    gap: 0.5rem;
  }

  .item-payment-label,
  .item-date-label {
    padding: 2px 8px;
    background-color: #ffa6c2;
    border-radius: 100px;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
  }

  button {
    position: relative;
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .buttons button:hover {
    background-color: rgb(200, 200, 200);
  }

  button :global(svg) {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 1rem;
    height: 1rem;
  }
</style>
