---
import MenuBackground from "../../svgs/MenuBackground.astro";
import PricingMenuContent from "./PricingMenuContent.astro";
import type { ServicesTableData } from "../../../pages/admin/_db/types";
import type { ExtrasTableData } from "../../../pages/admin/_db/types";

type Props = {
  systemsServices: ServicesTableData[];
  removalServices: ServicesTableData[];
  extraServices: ExtrasTableData[];
};

const { systemsServices, removalServices, extraServices } = Astro.props;
---

<div class="menu-container" data-aos="fade-up" data-aos-duration="700">
  <div class="menu-bg">
    <MenuBackground />
  </div>
  <PricingMenuContent {systemsServices} {removalServices} {extraServices} />
</div>

<style>
  .menu-container {
    position: relative;
  }

  .menu-bg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .menu-bg :global(svg) {
    width: 101%;
  }

  @media (max-width: 650px) {
    .menu-bg :global(svg) {
      width: 140%;
    }
  }

  @media (max-width: 480px) {
    .menu-bg :global(svg) {
      width: 200%;
    }
  }
</style>
