---
import SideBar from "../../components/admin/SideBar.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
import Header from "../../components/admin/Header.astro";
import BookingForm from "../../components/admin/bookings/BookingForm.svelte";

const user = Astro.locals.user;

// If the user is not an admin, redirect to the home page
if (!user || user.role !== "admin") return Astro.redirect("/home", 302);

const { avatarURL, username, role, email } = user;
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <main>
      <h1>Reservas</h1>
      <div>
        <BookingForm client:load />
      </div>
    </main>
  </div>
</AdminLayout>

<style>
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  main {
    padding-top: var(--section-spacing);
    padding-inline: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
